.book-3d {
  transform-style: preserve-3d;
  perspective: 1200px;
  animation: rotate-360 12s linear infinite;
  transform-origin: center center;
}

@keyframes rotate-360 {
  0% {
    transform: rotateY(0deg) rotateX(20deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(20deg);
  }
}

.book-cover {
  transform: translateZ(20px);
  background-image: url('/C:\Users\DELL\Music\per hours akher\Per_horus-main\public\images\555.jpeg');
  background-size: cover;
  background-position: center;
  backface-visibility: hidden;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.book-pages {
  background: white;
  transform: translateZ(19px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  top: 2px;
  left: 2px;
  position: absolute;
}

.book-spine {
  background: linear-gradient(to right, #705214, #FFCB45);
  transform: rotateY(90deg) translateZ(-20px);
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 2px 0 0 2px;
}

.book-edge {
  background: #FFCB45;
  transform: rotateY(-90deg) translateZ(20px);
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 0 2px 2px 0;
}

.book-back {
  background: #D9C097;
  transform: rotateY(180deg) translateZ(20px);
  backface-visibility: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
